# App caches
/app/cache/*

# Vendor files
/vendor/*
!vendor/.htaccess

# Src caches
/src/cache/*

# Web caches and assets
/web/cache/*
/web/images/*
/web/favicon.ico

# Runtime storage
/app/storage/tmp/migrations/*.json

# Root files
/.ftpquota
/composer.phar
/.env
