# App caches
/app/cache/*

# Vendor files
/vendor/*
!vendor/.htaccess

# Web assets
/web/downloads/*
/web/vendor/*
/web/cache/*

/web/composer.json_
/web/composer.lock
/web/images/*

# Root files
/.ftpquota
/composer.phar
/composer.lock
