# App caches
/app/cache/*

# Vendor files
/vendor/*
!vendor/.htaccess

# Src caches
/src/cache/*

# Web assets
/web/downloads/*
/web/vendor/*
/web/cache/*
/web/images/*
/web/composer.json_
/web/composer.lock

# Runtime storage
/app/storage/tmp/migrations/*.json

# Root files
/.ftpquota
/composer.phar
/.env
