{% extends "tmpl/base.twig" %}

{% block md %}
    <title>{{ hello }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/consoleText.css" />
{% endblock %}

{% block content %}
    <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="js/consoleText.js"></script>
    <script type="text/javascript">
      // function([string1, string2],target id,[color1,color2])
      consoleText(
        [
            "{{ hello }}", // Defined in Index Controller
            // What follows are translating in twig examples:
            '{{ __("Made with love") }}',
            '{{ __("goodbye", {"name": name ?? __("pal") }) }}'
        ],
        'text',
        ['tomato','rebeccapurple','lightblue']
      );
    </script>
{% endblock %}
