{% extends "tmpl/base.twig" %}

{% block md %}
    <title>Login - GangsterClub.com</title>
{% endblock %}

{% block content %}
    {% set authEntry = {
        mode: 'login',
        flash: login,
        showLogoutIcon: true,
        emailLabel: __('email-address'),
        emailInvalidText: __('provide-valid-email-address'),
        verificationCodeLabel: __('verification-code'),
        verifyLabel: __('verify'),
        firstStepSubmitName: 'submit_login',
        firstStepSubmitLabel: __('sign-in'),
        switchPrompt: __('need-an-account'),
        switchPath: 'register',
        switchLinkLabel: __('create-an-account')
    } %}
    {% include "partial/auth-entry.twig" %}
{% endblock %}

{% block js %}
    {% if (awaitingOtp or UID) %}
        <script type="text/javascript" src="js/otp-input.js"></script>
    {% endif %}
{% endblock %}
