{% extends "tmpl/base.twig" %}

{% block md %}
    <title>{{ __('register') }} - GangsterClub.com</title>
{% endblock %}

{% block content %}
    {% set authEntry = {
        mode: 'register',
        flash: register,
        showLogoutIcon: false,
        usernameLabel: __('username'),
        usernameInvalidText: __('provide-valid-username'),
        emailLabel: __('login.email-address'),
        emailInvalidText: __('login.provide-valid-email-address'),
        verificationCodeLabel: __('login.verification-code'),
        verifyLabel: __('login.verify'),
        firstStepSubmitName: 'submit_register',
        firstStepSubmitLabel: __('register'),
        switchPrompt: __('already-have-account'),
        switchPath: 'login',
        switchLinkLabel: __('login.sign-in')
    } %}
    {% include "partial/auth-entry.twig" %}
{% endblock %}

{% block js %}
    {% if (awaitingOtp or UID) %}
        <script type="text/javascript" src="js/otp-input.js"></script>
    {% endif %}
{% endblock %}
