html, body {
    margin: 0;
    font-family:"Calibri", sans-serif;
}

body {
    padding: 0;
}

.error {
    display: block;
    width: 100%;
    height: auto;
    background: orangered;
    color:darkred
}

.success {
    display: block;
    width: 100%;
    height: auto;
    background: limegreen;
    color: darkgreen
}

.logout {
    position: absolute;
    right: .6rem;
    background: oldlace;
}

.language-dropdown {
    position: absolute;
    padding: 0;
    left: 20px;
    top: 20px;
}

.language-dropdown-content li {
    padding: 12px 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
