html, body {
    margin: 0;
    font-family:"Calibri", sans-serif;
}

body {
    padding: 0;
}

.flag-de {
    background-image: url(../images/flags/DE.png);
}

.flag-en {
    background-image: url(../images/flags/EN.png);
}

.flag-fr {
    background-image: url(../images/flags/FR.png);
}

.flag-nl {
    background-image: url(../images/flags/NL.png);
}

.error {
    display: block;
    width: 100%;
    height: auto;
    background: orangered;
    color:darkred
}

.success {
    display: block;
    width: 100%;
    height: auto;
    background: limegreen;
    color: darkgreen
}

.logout {
    position: absolute;
    right: .6rem;
    background: oldlace;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
